<div class="col-md-8 pl-0 pr-0" >
<div class="media border">
  <img src="https://bulma.io/images/placeholders/64x64.png" class="p-2" alt="...">
  <div class="media-body">
    <h4 class="mt-2 ml-3">Tweet about here</h4>
    <%= render 'tweeets/form' %>
  </div>
</div><br>


<% @tweeets.each do |twit| %>
<div class=" pl-0 pr-0">
    <div class="media border">
        <img src="https://bulma.io/images/placeholders/64x64.png" class="align-self-start mr-3 my-auto p-2 ml-2" alt="...">
        <div class="media-body">
            <strong>Tupac Shakur</strong><br>
            <small>@shakur</small>
            <p><strong>tweet: </strong><%= twit.tweet %></p>

             <%= link_to twit do%>
              <i class="fa fa-link mr-3 text-dark" aria-hidden="true"></i>
              <% end %>
             <%= link_to edit_tweeet_path(twit) do %>
               <i class="fa fa-pencil-square-o text-dark" aria-hidden="true"></i>
             <% end %>
          
            <%= link_to twit, method: :delete, data: { confirm: 'Are you sure you want to delete this tweet?'} do %>
                 <i class="fa fa-trash-o text-dark ml-3" aria-hidden="true"></i>
            <% end %>
        </div>
  </div>
</div>
           
<% end %>
</div>
