<div class="mx-auto contain mt-4 text-center">
  <p class= 'text-left mt-4'>
      <%= @tweeet.tweet %>
      
    </p>
   <div><%=image_tag("#{@tweeet.image}",class: 'show_image') %></div><br>
    <p class = 'text-left'> <%= @tweeet.likes.count %> &bull;
        <% if current_user.likes.find_by(tweeet_id: @tweeet).present? %>
              <%= link_to  like_path(current_user.likes.find_by(tweeet_id: @tweeet),tweet: @tweeet), method: :delete,  class: 'text-decoration-none' do %>
                <i class="fa fa-heartbeat text-danger "></i>
              <%end%>
      <% else %> 
            <%= link_to likes_path(tweet: @tweeet), method: :post,  class: 'text-decoration-none' do%>
                    <i class="fa fa-heart"></i>
            <%end%>
      <%end%>
                       <span class = 'ml-4'>
                           <%= @tweeet.comments.count%> &bull; 
                            <i class="fa fa-comment"></i>
                         </span>
    
    </p>
      <div><%= render 'comments/form'%></div>
    <% if @commenter.present? %>
       <div class = 'mt-2 mb-4'>
         <h2 class = 'display-4 text-left'>Comments</h2>
       </div>
       <% @commenter.each do |comment| %>
       <%= link_to user_path(comment.user), class: 'text-decoration-none text-dark' do%>
           <div class = 'card  mb-2'>
             <div class = 'd-flex card-header p-3' >
             
                <div>
                   <%= image_tag("#{comment.user.avatar}", class: 'feed_image')%>
                </div>
               <p class = 'ml-3 mt-2 small'>
                 <%= comment.user.name%>
                  <span class = ' font-weight-bold'>@<%= comment.user.username%></span>
               </p>
             
             </div>
                       <%end%>
             <p class = 'comment'><%= comment.body%>  <span class= 'time_ago ml-1'><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; <%= time_ago_in_words(comment.created_at)%> ago</span></p>
              
              <% if comment.user == current_user %>
                      <%= link_to tweeet_comment_path(current_user.comments.find_by(tweeet_id: @tweeet), twit: @tweeet), method: :delete, data: { confirm: 'Are you sure you want to delete this tweet?'} do %>
                          <i class="fa fa-trash-o text-dark ml-3" aria-hidden="true"></i>
                      <% end %>
              <% end %>
           </div>
    <% end %>
    <% end %>
    
    

    <div class = 'mt-3'>
      <%= link_to 'Back', tweeets_path, class: 'text-decoration-none text-dark' %>
        <% if current_user == @tweeet.user %>
           |<%= link_to 'Edit', edit_tweeet_path(@tweeet) %> |
          <%= link_to 'Delete', @tweeet, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
      
        <% end %>
    </div>

    
</div>