<div class= 'contain mx-auto mt-5 text-center'>
    <div><%= image_tag("#{@user.avatar}",class: 'show_image mx-auto')%></div><br>
     <p  class= "display-5"><strong>Name:</strong> <%= @user.name.capitalize%></p>
    <p> <strong>Username:</strong> <%= @user.username%></p>
    
    <%if  current_user.followings.where(receiver_id: @user.id).present? %>
       <%=link_to('Unfollow',followership_path(user: @user), method: :delete, data: { confirm: "Are you sure you want to unfollow #{@user.name}"}, class: 'btn btn-danger w-50' )%>
    <%elsif current_user == @user%>
       <div class='btn btn-success w-50'>Current User</div>
    <%else%>
        <%=link_to('Follow',followerships_path(user: @user), method: :post, class: 'btn btn-primary w-50' )%>
    <%end%>
    <div class= 'mt-4'>
         <strong>Followers:</strong> <%= @user.followers.count%> | <strong>Following:</strong> <%= @user.followings.count%>
    </div>
<div class= 'mt-4'>
   <% if @user.tweeets.present? && current_user.followings.where(receiver_id: @user).present? || @user == current_user %>
       <h4><%= @user.name%>'s Tweets</h4>
            <% @user.tweeets.each do |tweet|%>
            <%= link_to tweet, class: 'text-decoration-none text-dark' do%>
              <div class = 'd-flex border border-secondary rounded mb-2 p-2'>
                <div>
                   <%= image_tag("#{tweet.image}", class: 'feed_image')%>
                </div>
                 <p class = 'mt-3 ml-4'><%=truncate(tweet.tweet, length: 50, seperator: ' ') %>  <span class= 'time_ago ml-1'><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; <%= time_ago_in_words(tweet.created_at)%> ago</span></p></p>
              </div>
            <%end%>
       <%end%>
   <% end %>
   
</div>
</div>